body {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5) no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 10px;
    margin: 0;
    font-size: 2rem;
    min-height: 100vh;
    align-items: center;
  }
  
  h3 {
    text-align: center;
    color: black;
  }
  
  #clock {
    position: relative;
    margin: auto;
    height: 60vw;
    width: 60vw;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow:
      0 0 0 4px rgba(0, 0, 0, 0.1),
      inset 0 0 0 3px hsl(219, 64%, 52%),
      inset 0 0 5px rgb(5, 6, 6),
      0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #hour,
  #minute,
  #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
  }
  
  #hour {
    width: 2.4%;
    height: 25%;
    top: 20%;
    left: 48.85%;
    opacity: 0.8;
  }
  
  #minute {
    width: 1.6%;
    height: 30%;
    top: 15%;
    left: 48.9%;
    opacity: 0..8;
  }
  
  #second {
    background: red;
    width: 1%;
    height: 40%;
    top: 5%;
    left: 49.25%;
    opacity: 0.8;
  }
  
  