#clock {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  margin : 0 auto;
}

#hour-hand, #minute-hand, #second-hand {
  background-color: #000;
  position: absolute;
  transform-origin: bottom center;
  transition: all 0.5s ease-in-out;
}

#hour-hand {
  width: 5px;
  height: 60px;
  top: calc(50% - 60px);
  left: calc(50% - 2.5px);
}

#minute-hand {
  width: 3px;
  height: 80px;
  top: calc(50% - 80px);
  left: calc(50% - 1.5px);
}

#second-hand {
  width: 1px;
  height: 90px;
  top: calc(50% - 90px);
  left: calc(50% - 0.5px);
  background-color: red;
}
